
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px, 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

h1 {
    color: darkblue;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 10px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
} 

main {
    max-width: 840px;
}

aside img {
    width: 200px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Sectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color:#000;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 100px;

}