* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-color: azure;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: pink;
    text-align: center
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.0);
    border-radius: 0.5rem;
    background-color: hotpink;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 2px solid;
    padding: 1rem;
}
    

legend {
    padding: 0.5rem;
    color:whitesmoke;
    font-size: 1.5rem
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: left;
    padding: 1.5rem;
}

input select textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem; 
    background-color: whitesmoke;
    color: pink;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button.hover {
    background-color: paleturquoise;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 1fr 2fr;
}